@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Mitr:wght@200;300;400;500;600;700&display=swap");

:root {
    --color1: #ffffff;
    --color2: #ffbd00;
    --color3: #ff60ce;
    --backgroundColor1: #0b0016;
    --backgroundColor2: #0a0a0a;
    --backgroundColor3: #ffffff;
    --font1: "Barlow", sans-serif;
    --font2: "Mitr", sans-serif;
}
body {
    background-color: var(--backgroundColor1);
}
* {
    color: var(--color1);
}
h1 {
    font-family: var(--font2);
    font-size: 5.3em;
    max-width: 8.2ch;
}
h1 span {
    color: var(--color2);
}
.info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
